<!-- wp:template-part {"slug":"header","theme":"twentytwentytwo","tagName":"header"} /-->

<!-- wp:template-part {"slug":"pediatric-section","theme":"twentytwentytwo"} /-->

<!-- wp:spacer {"height":"200px"} -->
<div style="height:200px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:template-part {"slug":"welcome-section","theme":"twentytwentytwo"} /-->

<!-- wp:spacer {"height":"200px"} -->
<div style="height:200px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:template-part {"slug":"footer","theme":"twentytwentytwo","tagName":"footer"} /-->