<!-- wp:template-part {"slug":"header","theme":"twentytwentytwo","tagName":"header"} /-->

<!-- wp:group {"className":"speakers-container"} -->
<div class="wp-block-group speakers-container"><!-- wp:group {"className":"speakers-total-info","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group speakers-total-info"><!-- wp:group {"className":"speakers-info","layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group speakers-info"><!-- wp:post-title /-->

<!-- wp:post-content /--></div>
<!-- /wp:group -->

<!-- wp:post-featured-image /--></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"0px"} -->
<div style="height:0px" aria-hidden="true" class="wp-block-spacer mob-100"></div>
<!-- /wp:spacer -->

<!-- wp:custom/acf-sessions-block /--></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"200px"} -->
<div style="height:200px" aria-hidden="true" class="wp-block-spacer mob-100"></div>
<!-- /wp:spacer -->

<!-- wp:template-part {"slug":"footer","theme":"twentytwentytwo","tagName":"footer"} /-->